<!DOCTYPE html>
<html>
    <head>
        <title>About Us - The Mind Blog (Assignment 1 - i253 Web Arch)</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <a href="/index.html">Home</a> | <a href="/about.html">About</a> | <a href="/contact.html">Contact</a>
            <hr>
        </header>
        
        <div>
            <img src="/static/about_pic.jpg" alt="usman pic" id="about_pic">
            <h2>Information scientist, Public Health professional, Physician</h2>
            
            <p>I am a Public Health Professional currently studying Information Systems at UC Berkeley. Starting as a Physician, I moved to study Healthcare Management at Harvard, and then worked in a variety of roles including research data collection at grassroots level, executing health service delivery projects, program management and Information System Design at national level, and recently setting up a new department at a young Public Health institute. I consult for international agencies on Data Quality Standards, Health Information Systems, Predictive Analytics and Monitoring and Evaluation (read Business Intelligence).</p>

            <p>I am passionate about helping people make better decisions in health and life, and enjoy working on developing digital health products and services around this goal. Besides managing teams, planning complex projects and presenting to a range of audiences, my skills include UX Research methods, Data Analytics, SPSS, Python, VBA, HTML, JS, Prototyping tools, Tableau, Adobe CC suite and more.</p>
        </div>
        
        <footer>
            <hr>
            <a href="/index.html">Home</a> | <a href="/about.html">About</a> | <a href="/contact.html">Contact</a>
        </footer>
    </body>
</html>

