<!DOCTYPE html>
<html>
    <head>
        <title>The Mind Blog (Assignment 1 - i253 Web Arch)</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <a href="/index.html">Home</a> | <a href="/about.html">About</a> | <a href="/contact.html">Contact</a>
            <hr>
        </header>

        <h1>The Mind Blog</h1>
        <p>
            Some 80% of your brain is made up of water. This blog is about that...and the rest of the 20% that matters.
            <br>Here you can find a collection of inspiring articles for personal development.
        </p>
        <ul>
            <li><a href="/blog/8-experiments-in-motivation.html">8 Experiments in Motivation</a></li>
            <li><a href="/blog/a-mindful-shift-of-focus.html">A Mindful Shift of Focus</a></li>
            <li><a href="/blog/how-to-develop-an-awesome-sense-of-direction.html">How to Develop an Awesome Sense of Direction</a></li>
            <li><a href="/blog/training-to-be-a-good-writer.html">Training to Be a Good Writer</a></li>
            <li><a href="/blog/what-productivity-systems-wont-solve.html">What Productivity Systems Won't Solve</a></li>
        </ul>
        <footer>
            <hr>
            <a href="/index.html">Home</a> | <a href="/about.html">About</a> | <a href="/contact.html">Contact</a>
        </footer>
    </body>
</html>